<div id="<%= dom_id stock %>">
  <p>
    <strong>Company code:</strong>
    <%= stock.company_code %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= stock.company_name %>
  </p>

  <p>
    <strong>Latest price:</strong>
    <%= stock.latest_price %>
  </p>

  <p>
    <strong>Change:</strong>
    <%= stock.change %>
  </p>

  <p>
    <strong>Change percent:</strong>
    <%= stock.change_percent %>
  </p>

  <p>
    <strong>Change percent s:</strong>
    <%= stock.change_percent_s %>
  </p>

</div>
