<h1>TRADERS</h1>

<table class="table">
    <thead>
        <tr colspan="7">
            <th>ID</th>
            <th>Email</th>
            <th>Role</th>
            <th>Status</th>
            <th colspan="3"></th>
        </tr>
    </thead>


    <tbody>
        <% @users.each do |user| %>
            <% if user.role == 'trader' %>
                <tr>
                    <td><%= user.id %></td>
                    <td><%= user.email %></td>
                    <td><%= user.role %></td>
                    <% if user.approved == true %>
                        <td>Approved</td>
                    <% elsif %>
                        <td>Pending Approval</td>
                    <% end %>
                    <td><%= link_to "Approve Trader", edit_user_path(user) %></td>
                    <td><%= link_to "Show", user_path(user) %></td>
                    <td><%= link_to "Edit", edit_user_path(user) %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>