<div id="<%= dom_id transaction %>">
  <p>
    <strong>Stock name:</strong>
    <%= transaction.stock_name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= transaction.transaction_type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= transaction.price %>
  </p>

  <p>
    <strong>Shares:</strong>
    <%= transaction.shares %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= transaction.stock_id %>
  </p>

</div>
